#bg {
    position: absolute;
    background-color: #111;
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home {
    color:white;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 30px; */
    font-family: Cascadia Code;
    font-size: 24px;
    }

.left { color: #8787D7 !important; }

#home > * {
    display: inline-block;
    margin: 0 0rem;
}

#home > * > div {
    padding: 10px;
}

#home > .left > div { text-align: right; }
#home > .right > div { text-align: left; }

a {
    display: inline;
    text-decoration: none;
    color: white;
    transition: 1s
}

a:active, a:focus { outline: 0; }

a:hover {
    transition: 0.1s;
    color: #090;
    text-decoration: underline;
}

.slash { display: inline; color: yellow; }